.search-bar-container {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
  max-width: 600px;
}

.search-input {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

.search-button {
  padding: 8px 16px;
  background-color: #f78838;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.search-button:hover {
  background-color: #fc9f5b;
}